footer {
  background-color: var(--grey);
  color: var(--white);
  padding-top: 40px;
}

footer a {
  color: var(--purple);
  font-size: 0.8rem;
  text-decoration: none;
}

footer a:hover {
  color: var(--blue);
  font-size: 1rem;
  transition: font-size 1s;
}

footer p {
  letter-spacing: 1.5px;
  text-align: center;
}

footer .links-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: auto;
  justify-content: space-evenly;
}

footer ul {
  list-style-type: none;
}

footer li {
  margin-top: 15px;
  text-align: center;
}

footer h3 {
  letter-spacing: 2px;
  padding: 40px 0;
  text-align: center;
}

/* MQ TABLET */

@media (min-width: 650px) and (max-width: 992px) {
  footer .links-container {
    grid-template-columns: auto auto;
  }
}

/* MQ PC */

@media (min-width: 993px) {
  footer .links-container {
    grid-template-columns: auto auto auto auto;
  }
}
