/* icon that opens the nav */
body .fas.fa-bars.fa-3x {
    position: fixed;
    top: 5%;
    right: 5%;
    color: var(--black);
    z-index: 10;
    cursor: pointer;
}

/* nav lay */
nav.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

/* nav lay content */
nav ul.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 1.5rem;
    list-style-type: none;
}

nav ul li {
    margin: 25px 0;
}

nav a {
    text-decoration: none;
    color: #818181;
}

nav a:hover {
    color: var(--white);
}

/* button that close the nav */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 5rem;
}