section.services {
    background-color: var(--gris);
    padding: 2.5vh;
    border-bottom: 2px solid var(--blanco);
}

section.services div.container h2 {
    text-align: center;
    color: var(--blanco);
    margin-bottom: 2.5vh;
}

section.services div.container div {
    background-color: var(--blanco);
    border-radius: 12px;
    padding: 1rem;
}

section.services div.container div h3 {
    text-align: center;
    color: var(--lila);
    margin-bottom: 1rem;
}

section.services div.container div div.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

section.services div.container div div.flex img {
    width: 50%;
    border-radius: 12px;
    padding: 0.5rem;
}

section.services div div.flex img:hover {
    opacity: 0.5;
}

section.services div.container div div.flex p {
    text-align: center;
    color: var(--gris);
    padding: 0.5rem;
}

/* MQ TABLET */

@media (min-width: 650px) and (max-width: 992px) {
    section.services {
        padding: 10vh;
    }

    section.services div.container h2 {
        margin-bottom: 10vh;
    }

    section.services div.container div h3 {
        margin-bottom: 1.5rem;
    }

    section.services div.container div div.flex img {
        width: 35%;
    }
}

/* MQ PC */
  
@media (min-width: 993px) {
    section.services {
        padding: 15vh;
    }

    section.services div.container h2 {
        margin-bottom: 15vh;
    }

    section.services div.container div h3 {
        margin-bottom: 2rem;
    }

    section.services div.container div div.flex img {
        width: 30%;
    }
}