section.services {
    background-color: var(--gris);
    padding: 2.5vh;
    border-bottom: 2px solid var(--blanco);
}

section.services div.container h2 {
    text-align: center;
    color: var(--blanco);
    margin-bottom: 2.5vh;
}

section.services div.container div {
    background-color: var(--blanco);
    border-radius: 12px;
    padding: .9rem;
}

section.services div.container div h3 {
    text-align: center;
    color: var(--lila);
    margin-bottom: .9rem;
}

section.services div.container div div.flex {
    overflow: hidden;
    padding: 0;
}

section.services div.container div div.flex img {
    float: left;
    width: 50%;
    border-radius: 12px;
    padding: .5rem;
}

section.services div.container div div.flex img.derecha {
    float: right;
}

section.services div div.flex img:hover {
    opacity: 0.5;
}

section.services div.container div div.flex p {
    color: var(--gris);
    padding: .5rem;
}

/* MQ TABLET */

@media (min-width: 650px) and (max-width: 992px) {
    section.services {
        padding: 10vh;
    }

    section.services div.container h2 {
        margin-bottom: 10vh;
    }

    section.services div.container div h3 {
        margin-bottom: 1.5rem;
    }

    section.services div.container div div.flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    section.services div.container div div.flex img {
        width: 50%;
    }

    section.services div.container div div.flex p {
        font-size: 24px;
    }
}

/* MQ PC */

@media (min-width: 993px) {
    section.services {
        padding: 15vh;
    }

    section.services div.container h2 {
        margin-bottom: 15vh;
    }

    section.services div.container div h3 {
        margin-bottom: 2rem;
    }

    section.services div.container div div.flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    section.services div.container div div.flex p {
        font-size: 32px;
    }
}

@media (min-width: 1280px) {
    section.services {
        width: 1280px;
        margin: 0 auto;
    }

    section.services div.container div div.flex p {
        font-size: 32px;
    }
}